.header.header--transparent.header--absolute
  .header__container.main-container
    a.header__logo(href="#")
      img(src="images/logo.svg", alt="Dream home")

    ul.header__menu
      li.header__menu-item
        a.header__menu-link.header__menu-link--first(href="#").
          Home
      li.header__menu-item
        a.header__menu-link(href="#").
          About
      li.header__menu-item
        a.header__menu-link(href="#").
          Property
      li.header__menu-item
        a.header__menu-link(href="#").
          FAQ
      li.header__menu-item
        a.header__menu-link.header__menu-link--last(href="#").
          Contact