$primary: #63ba5b;
$black: #000;
$white: #fff;

$font-family-base: "Poppins", sans-serif, $font-family-base;

$headings-font-family: "Poppins", sans-serif, $headings-font-family;
$headings-font-weight: 700;

$link-color:                              $primary;
$link-decoration:                         none;
$link-hover-color:                        darken($link-color, 15%);
$link-hover-decoration:                   none;